.container {
    padding: 250px;
}

.content {
    height: 580px;
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 70px;
}

.buttonArea {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.formitem {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}