.main {
    display: flex;
    flex-direction: row;
    padding: 5rem;
    min-height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
}

.content {
  display: flex;
  width: 70%;
  padding: 10px;
}

.contain {
    display: flex;
    position: absolute;
    flex-direction:row;
    margin: 5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.leftsection {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: aqua;
  }
  
  .topsection {
    flex: 3;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: yellow;
  }
  .middlesection {
    flex: 1;
    background-color: green;
  }
  .bottomsection {
    flex: 1;
    background-color: brown;
  }
  .lastsection {
    flex: 4;
    background-color: orchid;
  }
  
  .rightsection {
    flex: 5;
    background-color: antiquewhite;
  }

