.themearea {
    width: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    justify-content: space-between;
    align-items: center;
}

.appicon {
    width: 30px;
}

.theme {
    width: 210px;
    color: #165DFF;
    font-size: 20px;
    margin-left: 10px;
}

.editicon {
    width: 30px;
}

.downicon {
    width: 30px;
}

.menuarea {
    width: 270px;
    font-size: 14px;
}

.newtopic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.envModal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonArea {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.envTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  height: 80px;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  padding-bottom: 40px;
}

.modalStyle {
  border-radius: 20px;
  width: 520px;
  height: 580px;
}