.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.buttons{
  display: flex;
  justify-content: center;
}

.container {
  padding: 165px 50px;
}

.avatorbox {
  padding: 165px 50px;
}

.avator {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.content {
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputBox {
  border-radius: 2px;
  margin-left: 20px;
}

.username{
  font-size: 64px;
}

.password{
  font-size: 30px;
}

.email{
  font-size: 30px;
}

.emailInputBox{
  border-radius: 2px;
  margin-left: 20px;
  margin-left: 75px;
}

.oneLine{
  display: flex;
  /* align-items: center; */
  padding-right: 65px;
  padding-left: 100px;
}
