.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.container {
  padding: 165px 50px;
}

.avatorbox {
  padding: 165px 50px;
}

.avator {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.content {
  height: 750px;
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.inputBox {
  background-color: white;
  border: 1px solid #F2F3F5;
  border-radius: 2px;
}
